{% extends "base.html" %}

{% block title %}
Entries List
{% endblock title %}

{% block content %}

<h2> Posts List </h2>


<div class="list-group">
{% for instance in post_list %}
  <a href="{{instance.absurl}}" class="list-group-item">
    <h4 class="list-group-item-heading">{{instance.title}}</h4>
    <p class="list-group-item-text">
    <strong>{{instance.number}}</strong><br>{{instance.email}}<br><small>{{instance.date}}</small>
	{# <a href="{{instance.absurl}}" class="btn btn-primary" role="button">View</a> #}
    </p>
  </a>
{% endfor %}
</div>



<div class="pagination">
        <span class="step-links">
            {% if post_list.has_previous %}
                <a href="?page={{ post_list.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ post_list.number }} of {{ post_list.paginator.num_pages }}.
            </span>

            {% if post_list.has_next %}
                <a href="?page={{ post_list.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>

{% endblock content %}