<!DOCTYPE html>
<html>
<head>
	<title>Drill -- Dynamic URLs -- One Item</title>
	<style>
	@import url('https://fonts.googleapis.com/css?family=Roboto');
	body {
		background-color: CadetBlue;
		font-family: Roboto;
	}
	h1 {
		font-size: 80px;
		font-family: verdana;
	}
	ul {
		color: white;
	}
	a {
		font-size: 20px;
	}
	</style>
</head>
<body>
<h1>ID Page</h1>
<h2></h2>
<ul id="new">
Title: {{input.title}}<br>
Number: {{input.number}}<br>
Date: {{input.date}}<br>
Email: {{input.email}}
</ul>
<br><br>
<a href="{% url 'allobj' %}">Go back to list</a>
<br><br>

</body>
</html>